.HorizontalView{

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding:0px 20px 50px 20px;
  height:290px;
  width: 90%;
  -ms-overflow-style: none;
  background-color: rgba(240, 240, 240, 0.596);
  border-radius: 14px;
  align-self: center;
  margin-right: 11%;
  flex-shrink: 5;

  
  }
  
   /* Hide scrollbar for Chrome, Safari and Opera */
   .HorizontalView::-webkit-scrollbar {
      display: none;
    }