.HorizontalView{

display: flex;
flex-wrap: nowrap;
overflow-x: auto;
overflow-y: hidden;
padding:20px 20px 20px 20px;
height:250px;
-ms-overflow-style: none;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .HorizontalView::-webkit-scrollbar {
    display: none;
  }