@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.mainDrawer{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-image: url("../../images/whiteBackGround.jpg"); */
    background-color: white;
    width:250px;
    height:100vh;
    margin: -10px 0px -10px -10px;
    position: fixed;
    z-index: 10;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 0px 0px;
    
}

.mainDrawer ul li{
    padding: 10px 10px 10px 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
    text-decoration: "none";
     color: "black";
    font-weight: "600";
    z-index:100;
    text-align: center
 ;
    
}
.profileImage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 10%;
    box-shadow: 0px 10px 17px 4px rgba(159, 163, 175, 0.534);
}


@media (max-width: 1026px) {
    .mainDrawer { display: none; }
}

@media (max-width: 1300) {
    .mainDrawer { display: flex; }
}
