.Card{
    width: 180px;
    height:180px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 1px 10px 12px 3px rgba(0, 0, 0, 0.144);
    margin-left: 20px;
    position: relative;
    flex: 0 0 auto;
    
}
.Card:hover{
    box-shadow: 7px 12px 14px rgba(0,0,0,0.25);

}
.descriptionRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.close-image{
    border: none;
    background-color: black;
}
.modalstyle{
    margin-left: 300px;
}

.modalInfo p{
    color: white;
}
.mainContent{
    display: flex;
    flex-direction: column;
    background-color: #252c41;
    width:100%;
    height: 100%;
    border-radius: 20px;
    
    height: 100%;
    padding: 0px 0px 0px 0px;

}
.contentImage{
    width: 100%;
    display: flex;
    background:linear-gradient(0.93deg, #151414 1.43%, rgba(21, 20, 20, 0) 98.72%);
    z-index: 100;
    height: 400px;
    
}
.modalInfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    

}
.modalInfo h2{
   margin: 10px 0 0;
   padding-left: 15px;
}


.modalInfo p{
    width: 100%;
    padding: 5px 15px 5px 5px;
    margin-top: 2px;
 }
 .modalInfo button{
    align-self: end;
    margin: -20px 0 20px 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    z-index: 200;
    margin-right: 10px;
    
    color: white;
    background-color: #C72E45;
    font-size: 35px;
 }

 .modalInfo button:hover{
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    background-color: #C72E45;;
    
 }
.contentImage img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position:center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    z-index: 0;
    
}
 .Card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    top: 1;
    position: absolute;
}



.h3{
    color: black;
    font-size: 10px;
    width: 10px
}
.Info{
    /* margin-top: 50px; */
    height: 100%;
    margin-left: 20px;
}
.Info p{
   margin: 0 auto;
}

.offeredTitle{
    font-size: 16px;
    text-transform: capitalize;
    color: #1B274A;
    font-weight: 500;
}

.offeredCategory{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 5px;
    color: #9FA3AF;
    
}