.RecentCard{
    width: 200px;
    height:180px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 1px 10px 12px 3px rgba(0, 0, 0, 0.144);
    margin-left: 20px;
    position: relative;
    flex: 0 0 auto;    
}
.RecentCard:hover{
    box-shadow: 7px 12px 14px rgba(0,0,0,0.25);

}
.RecentCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 30% 70%;
}
.descriptionRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.close-image{
    border: none;
    background-color: black;
}
