@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    overflow-x: hidden;
}
.InfoContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 100px;
    
}
.opportuntiesTitle{
    font-family: 'Roboto', sans-serif;
}
.mainSubject{
    margin-left: 40px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #1B274A;
    font-size: 24px;
}

body{
    background-color: #f4f5f9;
    font-family: 'Roboto', sans-serif;
  }

.mainView{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;

}

h2{
    margin-left: 40px;
    padding-bottom: 0px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }
  