@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.mainDrawer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../images/whiteBackGround.jpg"); */
    background-color: white;
    width:300px;
    height:100vh;
    margin: -10px 0px -10px -10px;
    
    
}

.mainDrawer ul li{
    padding: 10px 10px 10px 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;

 ;
    
}


.selected{
    color:"red"
}