body{
    background-color: #f2f2f2;
  }
  
  .mainView{
      display: flex;
      flex-direction: column;
  }
  
  
  form .marginOnsideNav{
    margin-left: 300px;
  }

  form h4{
    margin: 0 0 1rem;
  }
  
  form div{
    margin-bottom: 0.5rem;
    color:'white'
  }
  
  form label{
    display: block;
  }